<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{(typeString | async)?.name}}</ion-card-subtitle>
    <ion-card-title>{{manufacturer}} {{name}}</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label>Meine</ion-label>
    <ion-note slot="end" color="secondary" *ngIf="hasOwnRating">{{rating | number:'1.2-2'}}</ion-note>
    <ion-button fill="outline" slot="end" *ngIf="!hasOwnRating" (click)="rate()">Bewerten</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Durchschnitt</ion-label>
    <ion-note slot="end" color="secondary" *ngIf="average.average !== -1">{{average.average| number:'1.2-2'}} bei {{average.raters}} Bewertungen</ion-note>
    <ion-note slot="end" color="secondary" *ngIf="average.average === -1">N / A</ion-note>
  </ion-item>
</ion-card>