ion-content {
    --background: none;
    background-image: linear-gradient(100deg, rgba(42, 42, 42, 0.52), rgba(241, 18, 18, 0.424)),
        url('../../../../assets/beers/registerbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}