<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Neues Bier hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading$ | async"></ion-progress-bar>
  <div class="container" [formGroup]="formGroup">
    <div>
      <ion-select placeholder="Art" class="p-1 mt-3" formControlName="type">
        <ion-select-option *ngFor="let type of (types | async)?.docs" [value]="type.id">
          {{type.data().name}}
        </ion-select-option>
      </ion-select>
      <ion-text color="danger" *ngIf="(type.dirty || type.touched) && type.hasError('required')">
        Die Art muss angegeben werden.
      </ion-text>
    </div>
    <div>
      <ion-item class="my-2">
        <ion-label position="fixed">Hersteller</ion-label>
        <ion-input formControlName="manufacturer"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="(manufacturer.dirty || manufacturer.touched) && manufacturer.hasError('required')">
        Der Hersteller muss angegeben werden.
      </ion-text>
    </div>
    <div>
      <ion-item class="my-2">
        <ion-label position="fixed">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="(name.dirty || name.touched) && name.hasError('required')">
        Der Name muss angegeben werden.
      </ion-text>
    </div>
    <ion-button class="w-100" [disabled]="(loading$ | async) || formGroup.invalid" (click)="save()">Speichern</ion-button>
  </div>

</ion-content>
