<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Neues Bier hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-select placeholder="Art" class="p-1 mt-3">
      <ion-select-option value="0">Pils</ion-select-option>
      <ion-select-option value="0">Weizen</ion-select-option>
      <ion-select-option value="0">Helles</ion-select-option>
      <ion-select-option value="0">Ale</ion-select-option>
      <ion-select-option value="0">Schwarzes</ion-select-option>
      <ion-select-option value="0">Dunkles</ion-select-option>
      <ion-select-option value="0">Alt</ion-select-option>
    </ion-select>
    <ion-item class="my-2">
      <ion-label position="fixed">Hersteller</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="my-2">
      <ion-label position="fixed">Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="w-100">Speichern</ion-button>
  </div>

</ion-content>
