<ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" placeholder="Biere durchsuchen"
       (input)="searchTextChange($event.target.value)"
       (ionClear)="searchTextChange('')"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button end>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <app-beer-card *ngFor="let beer of availableBeers"
    [beerId]="beer.id"
    [manufacturer]="beer.manufracturer"
    [name]="beer.name"
    [type]="beer.type"
    [hasOwnRating]="beer.rating !== undefined"
    [rating]="beer.rating"
    [average]="beer.average">
  </app-beer-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['create-beer']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>